<mat-card>
  <h1>Sign Up</h1>
   <form #signupForm="ngForm" (ngSubmit)="onSubmitSignUp()">
     <div class="example-container">
       <mat-form-field>
           <input 
               matInput placeholder="email"
               [(ngModel)] = "email"
               name = "email">
       </mat-form-field> 
       <mat-form-field>
               <input 
                   matInput placeholder="strong password"
                   [(ngModel)] = "password"
                   name = "password">
       </mat-form-field>                   
       <div >
           <button mat-raised-button color="primary" 
                   [disabled]="!signupForm.form.valid">
                    Sign Up
           </button>
       </div>
    </div>
   </form>
   </mat-card>